<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            SPORT<span style="color: #ccff00; font-style:italic;">EVENTS</span>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tournaments">
                <span style="margin-right: 12px;">🏆</span> Tournaments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span style="margin-right: 12px;">⚽</span> Matches
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin, Organizer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="add-tournament">
                        <span style="margin-right: 12px;">➕</span> New Tournament
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <hr style="border-color: rgba(255,255,255,0.2);" />
        </div>

        <AuthorizeView>
            <Authorized>
                
                
            </Authorized>
            
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}